@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", "Arial", "sans-serif";
  font-size: 14px; /* Reducido de 14px (default) a 12px (2pt menos) */
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  background-color: #f2f2f2;
}
